[submodule "sby"]
	path = sby
	url = https://github.com/SeddonShen/sby.git
[submodule "fuzzer/xfuzz"]
	path = fuzzer/xfuzz
	url = https://github.com/Chooaa/xfuzz.git
[submodule "rtl/nutshell"]
	path = rtl/nutshell
	url = https://github.com/SeddonShen/nutshell-fv.git
[submodule "rtl/rocket-modules"]
	path = rtl/rocket-modules
	url = https://github.com/Chooaa/rocket-modules.git
[submodule "rtl/boom-modules"]
	path = rtl/boom-modules
	url = https://github.com/Chooaa/boom-modules.git
